<footer class="footer text-white pt-4">
    <div class="container">
        <div class="row text-center text-md-start align-items-center">
            
            <!-- Logo -->
            <div class="col-md-3 mb-3">
                <a href="/">
                    <img src="{{ asset('uploads/logo/foodorange.png') }}" alt="Logo" class="img-fluid" style="max-width: 150px;">
                </a>
            </div>

            <!-- Liens -->
            <div class="col-md-6 mb-3 text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a href="#" class="text-white text-decoration-none">Nous contacter</a></li>
                    <li class="list-inline-item"><a href="{{ path('mentions.legales') }}" class="text-white text-decoration-none">Mentions légales</a></li>
                    <li class="list-inline-item"><a href="{{ path('cgu') }}" class="text-white text-decoration-none">Conditions générales</a></li>
                    </ul>
            </div>

            <!-- Réseaux sociaux -->
            <div class="col-md-3 mb-3">
                <div class="d-flex justify-content-center justify-content-md-end gap-3">
                    <a href="#" class="text-white fs-4"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-white fs-4"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white fs-4"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-white fs-4"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

        </div>

        <!-- Copyright -->
        <div class="row mt-3">
            <div class="col text-center">
                <p class="mb-0">© 2025 Food Master. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>
